{% extends "blog/base.html "%}

{% block title %}
Business Blog 
{% endblock %}

{% block content %}

<div class="text-center">
    <img src="/static/blog/img/image1.jpg" class = "rounded">
</div>
<div class="container">
    <h4>Amazing Blogs</h4>
    <p>
        A blog is a discussion or informational website published on the WOrld Wide Web consisting of discrete, often informal diary-style
        text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top
        of the we page, Among the best blog sites, Amazing Blogs is, by far the most popular bloggin platform in the world.
    </p>
</div>

{% endblock%}

{% block footer %}
{% endblock %}