{% extends "blog/base.html" %}
{% block title %}

Welcome

{% endblock %}
{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Amaing Blogs!</h1>
        <p>Raise your thoughts not your voice</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  {% if user.is_authenticated %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Business</h2>
          <p>Click Below for Business Blogs</p>
          <p><a class="btn btn-default" href="{% url 'business' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Sports</h2>
          <p>Click Below for Sports Blogs</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Entertainment</h2>
          <p>Click Below for Entertainment Blogs</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

 {% else %}
  <div class="container">
    <h4>Create an account to view and post awesome blogs</h4>
  </div>
  {% endif %}
  <hr>
{% endblock %}