{% extends "base.html" %}

{% block content %}

<article>
    <header>
        <h1>For Sale!!</h1>
    </header>
    <section>
        <h3 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">Rex</h3>
        <body>
            <img src="/../static/img/rex.png" alt="Puppy1">
            <p><b>Height:</b> 10 inches</p>
            <p><b>Weight:</b> 25 pounds</p>
            <p><b>Description:</b> Rex is a little sausage. He is fat and wont jump into bed anymore but
            he is a cuddler and will love you</p>
        </body>
    </section>
</article

{% block sidebar %}
{% endblock %}

{% endblock %}

